{# SIDEBAR #}

{% macro sidebar(title) %}
{# use as caller in combination with sidebar_item #}
  <div class="sidebar">
    {% if title %}
      <div class="sidebar-heading">
        <h1>{{ title }}</h1>
      </div>
    {% endif %}
    <ul>
      {{ caller() }}
    </ul>
  </div>
{% endmacro %}

{% macro sidebar_admin(title) %}
{# use as caller in combination with sidebar_item #}
<div class="sidebar sidebar-danger">
  <div class="sidebar-heading">
    {% if title %} {# necessary because gettext wont work here #}
      <h1>{{ title }}</h1>
    {% else %}
      <h1>{% trans %}Staff{% endtrans %}</h1>
    {% endif %}
  </div>
  <ul>
    {{ caller() }}
  </ul>
</div>
{% endmacro %}

{% macro sidebar_item(label, url, icon) %}
{# This macro can be used in two types:
    1. as "normal" function
       with the the parameters "label" and "url", a link (<a>) is generated inside a <li>
       the third, optional parameter "icon" adds an icon before the label.
       Therefore, the value is used as class for a <span>
    2. as caller
       via the caller the inner content of the <li> is simply passed to it
#}
  <li class="sidebar-item" >
    {% if caller %}
      {{ caller() }}
    {% else %}
      <a href="{{ url }}">
        {% if icon %} <span class="{{ icon }}"></span> {% endif %}
        {{ label }}
      </a>
    {% endif %}
  </li>
{% endmacro %}


{# BREADCRUMB #}

{% macro breadcrumb_item(label, url) %}
  {% if url %}
    <li><a href="{{ url }}">
      {{ label }}
    </a></li>
  {% else %}
    <li>{{ label }}</li>
  {% endif %}
{% endmacro %}


{# PAGINATION #}

{% macro render_pagination(pagination, show_prev=True, show_next=True, threshold=2) %}
  <ul class="pagination">
    {% if show_prev %}
      {% if pagination.prev %}
        <li>
          <a href="{{ pagination.prev }}">«</a>
        </li>
      {% else %}
        <li class="disabled">
          <span>«</span>
        </li>
      {% endif %}
    {% endif %}
    {% for link in pagination.list(threshold) %}
      {% if link['type'] == 'spacer' %}
        <li>
          <span>…</span>
        </li>
      {% elif link['type'] == 'current' %}
        <li class="active">
          <span>{{ link['page'] }}</span>
        </li>
      {% else %}
        <li>
          <a href="{{ link['url'] }}">{{ link['page'] }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if show_next %}
      {% if pagination.next %}
        <li>
          <a href="{{ pagination.next }}">»</a>
        </li>
      {% else %}
        <li class="disabled">
          <span>»</span>
        </li>
      {% endif %}
    {% endif %}
  </ul>
{% endmacro %}


{# FORM #}

{% macro outer_form(csrf, form=None, bootstrap_class=None, action="", method="post", submit_label=None, manually_rendered=False) %}
{# params
    * csrf: just give `csrf_token()` (workaround for a context-bug)
    * form: if given and manually_rendered not touched, all fields will be rendered
            Even if you want to render this form manually, it is worth to pass this parameter.
            Thus, errors not associated with any field will be still rendered.
    * bootstrap_class: f.e. `form-horizontal` or `form-inline` see http://getbootstrap.com/css/#forms
                            `None` if default boostrap-behaviour wished
    * action: HTML-action-url
    * method: default: `post`, alternative `get`
              (latter will generate an URL from the fields. It will look like ?<name>=<value>.
              So it will be visible in browser-history. Do not use for sensible information (passwords etc.)!)
    * submit_label: text for submit-button
    * manually_rendered: disable automatic rendering of all form-fields by setting this True
#}
    <form action="{{ action }}" method="{{ method }}"
    {% if bootstrap_class %} class="{{ bootstrap_class }}" {% endif %}
    {% if form and form.is_multipart() %} enctype="multipart/form-data" {% endif %}> {# for uploading files (images etc.) #}
      {% if method.lower() == "post" %} {{ csrf }} {% endif %}

      {% if form %}
        {{ form.non_field_errors() }}
        {% if not manually_rendered %}
          {{ inner_form(form) }}
        {% endif %}
      {% endif %}

      {% if caller %}
        {{ caller() }}
      {% endif %}

      <button type="submit">
        {% if submit_label %}
          {{ submit_label }}
        {% else %}
          {% trans %}Submit{% endtrans %}
        {% endif %}
      </button>
    </form>
{% endmacro %}

{% macro inner_form(form, custom_fields=None) %}
{#
  can be used with call outer_form(…) to do things "manually"

  if no list for custom_fields are given, all fields of @form will be rendered.
  Otherwise all fields in custom_fields will be rendered (in the given order, too).
#}
  {% if form %}
    {% if custom_fields %}
      {% for field in custom_fields %}
        {% if form[field] %}
          {{ render_field_by_type(form[field]) }}
        {% endif %}
      {% endfor %}

    {% else %}
        {% for field in form %}
          {{ render_field_by_type(field) }}
        {% endfor %}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro render_field_by_type(field) %}
  {% if field.field.widget|ischeckbox %}
    {{ checkbox(field) }}
  {% else %}
    {{ input(field) }}
  {% endif %}
{% endmacro %}

{% macro checkbox(field) %}
  {% if field.errors %}
  <div class="has-error">
    {{ field.errors }}
  {% endif %}

    <div class="checkbox">
      <label>
        {{ field }} {{ field.label }}
      </label>
    </div>

  {% if field.errors %} </div> {% endif %}
{% endmacro %}

{% macro input(field) %}
  <div class="form-group {% if field.errors %} has-error {% endif %}">
    {{ field.errors }}
    {{ field.label_tag() }}
    {{ field }}

    {% if field.help_text %}
      <p class="help-block">{{ field.help_text }}</p>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_form(form, fields, inline = false) %}
  {% if not inline %}
    <dl>
  {% endif %}
  {% for field in fields %}
    {% if form[field] %}
      <dt>
        <label for="{{ form[field].auto_id }}">{{ form[field].label }}:</label>
      </dt>
      <dd>
        {{ form[field] }} {{ form.errors[field] }}
        {% if form[field].help_text %}
          <p class="text-info">{{ form[field].help_text }}</p>
        {% endif %}
      </dd>
    {% endif %}
  {% endfor %}
  {% if not inline %}
    </dl>
  {% endif %}
{% endmacro %}

{% macro render_checkbox_form(form, fields, inline = false) %}
  {% if not inline %}
    <dl>
  {% endif %}
  {% for field in fields %}
    {% if form[field] %}
      <dd>
        {{ form[field] }}
        <label for="{{ form[field].auto_id }}">{{ form[field].label }}</label>
        {{ form.errors[field] }}
        {% if form[field].help_text %}
          <p class="text-info">{{ form[field].help_text }}</p>
        {% endif %}
      </dd>
    {% endif %}
  {% endfor %}
  {% if not inline %}
    </dl>
  {% endif %}
{% endmacro %}


{# OTHER #}

{% macro add_user_avatar(user) %}
  {% if user.avatar_url %}
    <img src="{{ user.avatar_url|e }}"
         alt="{% trans user=user.username|e %}Avatar of {{ user }}{% endtrans %}"
         title="{% trans user=user.username|e %}Avatar of {{ user }}{% endtrans %}" />
  {% else %}
    <span class="fa_icon-user" title="{% trans user=user.username|e %}Avatar of {{ user }}{% endtrans %}"></span>
  {% endif %}
{% endmacro %}
